* text=auto eol=lf
*.R      text eol=lf
*.Rmd    text eol=lf
*.r      text eol=lf
*.rmd    text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.csv    text eol=lf
*.tsv    text eol=lf
*.txt    text eol=lf
