# OsloMet

The diff is bad. Hash picks up non-changes.

- M1GBO4100: the diff between 2021 and 2022 is mainly (only?) semicolons appearing in 2022.
- M1GEN2100 differs only with semicolons between 2022 and 2023.
- M1GEN2100 differs by semicolons between 2021 and 2022 AND by changing VÅR to HØST. Is the latter a real change? I'd say no.
- M5GPE5100 is special, as it has v1 spanning 2021-2025 and v2 only for 2022. What gives? It's the semicolons again. Seems to be something happening in 2022.
- MAMUS4100 shouldn't be in the data at all. Is it reported wrong in FS, that is, courses.RDS has it in the wrong study program?
- MGNA4100 has the semicolon problem before and after 2022, 2021 -> 2022 -> 2023
- MGVM4100 differs only in VÅR and HØST between v4 2023-2025 and v5 2024. The 2022 semicolon problems are present here as well.
