# Check of fulltext and diff for all institution

## HiOF

- fulltexts look good
- LMBNOR10417 2024 VS 2025 differ by "emneansvarlige: ragnhild louise næsje christian bjørn bjerke" which shouldn't be part of the diff.bjørn

## HIVOLDA

- fulltexts look good
- MGL5-10FOUMA-1 V5 2024 VS V6 2024 differ only by "godkjent av [navn]", which probably shouldn't be part of the diff.
- MGL5-10FOUMA-1 V4 2023 VS V5 2024 differ only by "emneansvarleg: navn", which probably shouldn't be part of the diff.

## HVL

- Everything looks good

## INN

- Fulltexts has "NameCreditsDateComment". What's this? Do we miss any useful information, or should it simply be removed?

## NIH

- perfect!

## NLA

- perfect!

## MF

- perfect!

## NMBU

- perfect!

## NORD

- perfect!

## OsloMet

- perfect!

## Steiner

- some page numbers still showing "Siden 12 av 15"

## UiA

- fulltext is unreadable because of too few linebreaks or something. Looks like just a massive block of text
- diffs look good

## UiB

- fulltexts and diffs look good

## UiO

- everything looks good

## UiS

- diffs differ by many names: "fagpersoner - navn (faglærer) - navn (emneansvarlig)". These are not changes to the course plan.
- diffs differ by "powerd by tcpdf (<www.tcpdf.org>)"
- diffs differ by dates "versjon 01.jun." VS "14.jun."

## UiT

- fulltext looks good

## USN

- fulltexts look good
- LR-PRA2000-1 V1 (2019) VS V2 (2020): Only change is a date. Also, I wonder whether the names after "godkjent emneplan " counts towards the diff?
